extends layout

block stylesheets
	link(rel='stylesheet', href='/stylesheets/vwindex.css')

block scripts
	script(src='/javascripts/vwindex.js')

block content
	h1= title
	p Welcome to #{title}
	div(id='ulSignInOrUp')
		ul
			li
				a(href='#tabSignIn') Sign in
			li
				a(href='#tabSignUp') Sign up
		div(id='tabSignIn')
			div(class='row')
				div(class='col-md-2')
					p ユーザーID
				div(class='col-md-2')
					input(type='text', id='txtUser')
			div(class='row')
				div(class='col-md-2')
					p パスワード
				div(class='col-md-2')
					input(type='password', id='txtPass')
				div(class='col-md-2 pull-right')
					input(type='button', id='btnSignIn', value='Sign in')
		div(id='tabSignUp')
			div(class='row')
				div(class='col-md-2')
					p ユーザーID
				div(class='col-md-2')
					input(type='text', id='txtUserUp')
			div(class='row')
				div(class='col-md-2')
					p メールアドレス
				div(class='col-md-2')
					input(type='text', id='txtEmailUp')
			div(class='row')
				div(class='col-md-2')
					p パスワード
				div(class='col-md-2')
					input(type='password', id='txtPassUp')
			div(class='row')
				div(class='col-md-2')
					p パスワード確認
				div(class='col-md-2')
					input(type='password', id='txtPassUpConfirm')
				div(class='col-md-2 pull-right')
					input(type='button', id='btnSignUp', value='Sign up')
