extends layout

block scripts
	script(src='/javascripts/labelDialog.js')

block content
	div(id='forLabelDialog' class='container')
		div(id='idLblRow', class='row')
			div(id='idLblCell', class='col-xs-4 text-center') Label
			div(class='col-xs-8')
				input(type='text', id='dlgLabelLabelText', value=targetLabel)
		div(class='row')
			div(class='col-xs-12') &nbsp;
		div(class='row')
			div(class='col-xs-6 ')
				input(type='button', id='btnUpdate', value='Update', class='center-block' style='width: 100px;')
			div(class='col-xs-6')
				input(type='button', id='btnCancel', value='Cancel', class='center-block' style='width: 100px;')
		hidden(id='targetKey', value=targetKey)
		hidden(id='targetId', value=targetId)
